        #djcustom-footer .header-Phone .fl-rich-text>p {
            margin: 0!important
        }
        .gfield_time_ampm select {
            min-width: 60px!important;
            width: 60px!important
        }
        
        .gfield input[type=text] {
            width: 100%!important
        }
        
        .gform_wrapper .gform_body select {
            padding: 15px 6px!important
        }
        
        .gform_wrapper .gform_body input {
            padding: 15px 6px!important
        }
        
        .gform_footer.top_label input {
            width: auto!important
        }
        
        .gfield {
            padding-right: 15px!important
        }
        
        body .gform_wrapper ul li.gfield {
            margin-top: 0 !important;
        }
        
        body .gform_wrapper .timeEstimate div.ginput_container {
            margin-top: 0 !important;
        }
        
        .ginput_container.ginput_container_radio ul li,
        .ginput_container.ginput_container_checkbox ul li {
            display: flex;
            align-items: center;
        }
        
        .ginput_container.ginput_container_checkbox ul li input {
            margin-right: 5px;
        }
        
        #responsive-menu-additional-content {
            padding: 5px 5%!important
        }
        
        #responsive-menu-additional-content a {
            color: #fff!important
        }
        
        #responsive-menu-search-box {
            padding: 18px 5%!important
        }
        
        .facet_filters strong {
            color: #c68c22!important
        }
        
        button#responsive-menu-button {
            width: 40px!important;
            height: 40px!important
        }
        
        #breadcrumbs {
            position: absolute;
            top: 220px;
            z-index: 99;
            left: 0;
            right: 0;
            margin: auto;
            background: 0 0
        }
        
        .product-banner-img {
            min-height: 500px;
        }
        
        .product-detail-layout-5 {
            padding-top: 260px;
        }
        
        i.ua-icon.ua-icon-search {
            cursor: pointer;
        }
        
        .row.search-row {
            padding-top: 250px;
        }
        
        .fl-content.fl-content-left.col-md-8,
        .fl-sidebar.fl-sidebar-right.fl-sidebar-display-desktop.col-md-4 {
            margin-top: 260px
        }
        
        ul#topbar {
            margin: 0;
            padding: 0;
            overflow: hidden
        }
        
        ul#topbar li {
            float: left;
            list-style-type: none
        }
        
        ul#topbar li a {
            color: #f9f9f8;
            text-align: center;
            padding: 20px;
            text-decoration: none
        }
        
        ul.social-icons {
            text-align: center
        }
        
        ul#topbar li a:hover {
            color: #414042
        }
        
        .gform_wrapper ul.gform_fields li.gfield .gfield_time_ampm select {
            width: 60px!important;
            max-width: 60px!important
        }
        
        .gform_wrapper .gfield_time_hour i {
            margin-top: -2px!important
        }
        
        form select {
            padding: 6px 0!important
        }
        
        .button-wrapper-default a:hover {
            background: #ffb734;
            border: 2px solid #ffb734
        }
        
        .fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-ancestor>a,
        .fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-item>a,
        .fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-parent>a,
        .fl-page-nav-right .fl-page-nav-wrap .navbar-nav li>a:focus,
        .fl-page-nav-right .fl-page-nav-wrap .navbar-nav li>a:hover {
            color: #dea53d
        }
        
        .gform_wrapper ul.gfield_checkbox li input[type=checkbox],
        .gform_wrapper ul.gfield_radio li input[type=radio] {
            margin-top: 0 !important;
            vertical-align: top!important
        }
        
        .gform_wrapper .gfield_radio li label {
            margin: 0 0 0 4px !important;
        }
        
        .fl-page-nav-right .fl-page-nav-wrap a.fab:focus,
        .fl-page-nav-right .fl-page-nav-wrap a.fab:hover,
        .fl-page-nav-right .fl-page-nav-wrap a.fas:focus,
        .fl-page-nav-right .fl-page-nav-wrap a.fas:hover,
        .fl-page-nav-right .fl-page-nav-wrap a:focus,
        .fl-page-nav-right .fl-page-nav-wrap a:focus *,
        .fl-page-nav-right .fl-page-nav-wrap a:hover,
        .fl-page-nav-right .fl-page-nav-wrap a:hover * {
            color: #dea53d
        }
        
        .fl-page-nav-search form {
            border-top: 3px solid #dea53d
        }
        
        .uabb-gf-style .gform_wrapper .gfield_checkbox li label,
        .uabb-gf-style .gform_wrapper .gfield_radio li label {
            vertical-align: top
        }
        
        .storename .phone a span:before {
            content: "\f095";
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            font-size: 19px!important;
            -webkit-font-smoothing: antialiased;
            font-style: normal;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            text-decoration: inherit;
            vertical-align: middle;
            margin-right: 5px
        }
        
        .header-Phone .storename .phone a span:before {
            margin-right: 15px!important
        }
        
        .store-opening-hrs {
            padding-left: 0!important;
            list-style: none
        }
        
        .storename .store-opening-hrs li {
            display: flex;
            justify-content: space-between;
            margin: 20px
        }
        
        .gform_body input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
            width: 100%
        }
        
        .uabb-gf-style .gform_wrapper ul.gform_fields li.gfield:not(.gf_left_half):not(.gf_left_third):not(.gf_middle_third) {
            padding-right: 15px
        }
        
        .colors-list,
        .style-list {
            padding-top: 220px
        }
        
        @media (min-width:1024px) {
            #breadcrumbs {
                text-shadow: 0 0 6px #000
            }
            #breadcrumbs a {
                color: #fff
            }
            #breadcrumbs a:hover {
                color: #ffb734
            }
            #breadcrumbs span {
                color: #fff
            }
        }
        
        @media (max-width:1024px) {
            .style-product_list .pro-container .row .col-md-7 {
                width: 100%!important;
                min-height: 400px!important
            }
            ul#topbar li a {
                font-size: 11px;
                padding: 5px
            }
            .fl-page-nav .navbar-nav li>a {
                padding: 15px 8px;
                font-size: 13px
            }
        }
        
        @media (max-width:992px) {
            .fl-page-header-wrap .fl-page-header-container {
                padding: 10px 20px!important
            }
            button#responsive-menu-button {
                width: 40px;
                height: 40px
            }
            ul#topbar>li:last-child {
                display: block!important
            }
            .social-icons-container {
                text-align: center
            }
            .fl-button span.fl-button-text {
                color: #fff
            }
            .uabb-gf-style .gform_wrapper .gform_footer input[type=submit] {
                width: auto!important;
                color: #fff
            }
        }
        
        @media(max-width:768px) {
            .fl-slide .fl-slide-foreground {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%)
            }
            .fl-slide .fl-slide-foreground .fl-slide-content {
                background-color: transparent!important
            }
            .max-width-issue {
                margin: 0 auto;
                max-width: 360px!important
            }
            .max-width-issue_two img {
                margin: 0 auto;
                max-width: 360px!important
            }
            .fl-page-header-logo {
                text-align: left!important
            }
            button#responsive-menu-button {
                top: 22px!important
            }
            .fl-row-content-wrap .fl-button-group-buttons {
                justify-content: center!important
            }
            #breadcrumbs {
                position: static;
                background: inherit
            }
            .fl-content.fl-content-left.col-md-8,
            .fl-sidebar.fl-sidebar-right.fl-sidebar-display-desktop.col-md-4 {
                padding-top: 0;
                margin-top: 0;
            }
            button#responsive-menu-button {
                top: 18px!important
            }
            header {
                position: static!important
            }
            .header-middle {
                background: #1d4d27;
                padding-bottom: 10px;
                border-top: 1px solid #ddd
            }
            .header-middle .fl-row-content-wrap {
                background: none
            }
            .colors-list,
            .style-list {
                padding-top: 0;
            }
            .colors-list .top-heading,
            .style-list .top-heading {
                padding-top: 20px;
                padding-bottom: 20px;
            }
            .row.search-row {
                padding-top: 0;
            }
            .product-banner-img {
                min-height: 400px;
            }
            .product-detail-layout-5 {
                padding-top: 0;
            }
            #responsive-menu-container .storename .phone a span {
                padding-left: 20px;
                position: relative;
            }
            #responsive-menu-container .storename .phone a span:before {
                position: absolute;
                left: 0;
                top: 0;
            }
            #responsive-menu-container #responsive-menu li.responsive-menu-item .nav-link {
                padding-left: 15%;
            }
        }
        
        @media(max-width:767px) {
            .search-row .product-grid {
                padding: 0 20px!important
            }
            .fl-page-bar .fl-page-bar-row .text-left {
                width: 60%;
                float: left
            }
            .fl-page-bar .fl-page-bar-row .text-right {
                width: 40%;
                float: right
            }
            .fl-page-bar .fl-page-bar-row .text-left * {
                text-align: left!important
            }
            ul#topbar>li:last-child {
                float: right!important
            }
            .fl-module-heading h1.fl-heading {
                line-height: 48px!important
            }
            .featured-products .featured-product-list .featured-product-item {
                width: 50%;
            }
        }
        
        @media(max-width:450px) {
            .max-width-issue_two img {
                margin: 0 auto;
                max-width: 100%!important
            }
            .fl-page-bar .fl-page-bar-row .text-left {
                width: 66%;
                float: left;
                padding: 0
            }
            .fl-page-bar .fl-page-bar-row .text-right {
                width: 34%;
                float: right;
                padding: 0
            }
            .fl-col-group .boxes-on-mobile-full-width {
                width: 100%!important
            }
            footer .fl-col-group .boxes-on-mobile-full-width {
                width: 100%!important
            }
            .fl-page-header-primary .fl-logo-img {
                max-width: 80%!important
            }
            button#responsive-menu-button {
                top: 90px!important
            }
            .page-template-floorte_hardwood h2:nth-child(1) {
                padding: 0 20px!important
            }
            .footer-top,
            .footer-top .fl-heading,
            .footer-top .fl-module-content.fl-node-content,
            .footer-top ul {
                text-align: center!important
            }
            .footer-top .fl-module-content {
                margin-left: 0;
                margin-right: 0
            }
            .featured-products .featured-product-list .featured-product-item {
                width: 100%;
            }
            .gform_wrapper .gform_body select {
                padding: 19px 6px!important;
            }
        }
        
        @media(max-width:400px) {
            .ginput_container.ginput_container_checkbox ul li {
                display: flex;
                align-items: flex-start;
            }
            .gform_wrapper ul.gfield_checkbox li input[type=checkbox] {
                margin-top: 1px !important;
            }
        }
        
        .custom_searchModule {
            display: none;
            z-index: 2;
            position: absolute;
            right: 0;
            left: 0;
            top: 110px;
            padding: 5px 20px
        }